.dashboard-container {
    display: grid;
    padding: 0px 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px minmax( calc(100vh - 100px), auto) auto;
}

.dashboard-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.segment-list-grid-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
}

.runner-list-grid-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .dashboard-container {
        grid-template-rows: 100px auto auto;
    }
    .segment-list-grid-container {
        grid-column: 1 / 3;
    }
    .runner-list-grid-container {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}