<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p class="nav-title">UNIHORN COMPARATOR</p>
          </a>
      
          <a role="button" id="burgerYum" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="burgerToggle()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
              Dashboard
            </a>
      
            <a class="navbar-item" routerLink="/analyze">
              Analyze
            </a>

          </div>
        </div>
      </nav>