/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.add-logo {
    background-color: #080;
    color: #eee;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 11.25px;
}

.edit-logo {
    background-color: #004;
    color: #eee;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 10px;
}

.delete-logo {
    background-color: #800;
    color: #eee;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 13.1125px;
}


.button-center {
    display: flex;
    justify-content: center;
}

//BULMNA OVERWRITES

.button.is-success {
    background-color: #004400;
    transition: 0.2s all;
}

.button.is-warning {
    background-color: #442200;
    color: #eee;
    transition: 0.2s all;
}

.button.is-primary {
    background-color: #000044;
    transition: 0.2s all;
}

.button.is-danger {
    background-color: #770000;
    transition: 0.2s all;
}

label.label {
    color: #fff;
}

.button.is-warning[disabled] {
    background-color: #331100;
    color: #bbb;
}