<div class="segment-list">
    <h2>Segment list</h2>
    <ul *ngIf="segmentList">
        <li *ngFor="let segment of segmentList">
            <div class="segment-list-row">
                <span>#{{ segment.id }} - {{ segment.name }}</span>
                <div class="d-flex">
                    <span class="fas fa-edit edit-logo"></span>
                    <span class="fas fa-times delete-logo"></span>
                </div>
            </div>
        </li>
    </ul>
    <div class="button-center">
        <button class="button is-success" (click)="toggleForm()">{{ showForm ? "Hide Form" : "Add segment to list" }}</button>
    </div>
    <div *ngIf="showForm" class="segment-list-form-container">
        <fe-comp-segment-form></fe-comp-segment-form>
    </div>
    
</div> 