.segment-list {
    border: 1px solid #eee;
    border-radius: 13px;
    padding: 20px;

    .segment-list-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        font-size: 20px;
        margin-bottom: 10px;

        .edit-logo {
            margin-right: 10px;
        }
    }

    h2 {
        text-align: center;
    }

    ul {
        list-style: none;
    }
}


.segment-list-form-container {
    margin-top: 40px;
}