<div class="runner-detail-container">
    <div *ngIf="runner">
        <div class="detail-segment-container" *ngFor="let segment of runner.segments">
            <p>{{segment.name}}</p>
            <p>{{parseTime(segment.time)}}</p>
            <div>
                <button class="button is-primary" (click)="toggleEdit(segment.id)">Edit</button>
                <button class="button is-danger">Delete</button>
            </div>
        </div>
        <div *ngIf="showEditForm">
            <fe-comp-runner-time-form [runner]="runner" [editMode]></fe-comp-runner-time-form>
        </div>
    </div>
    
</div>