h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.analysis-container {
    padding: 20px;
}

.analysis-best {
    background-color: #080;
}

.analysis-behind {
    background-color: #800;
}