.runner-list {
    border: 1px solid #eee;
    border-radius: 13px;
    padding: 0px;
    padding: 20px;

    ul {
        list-style: none;
    }

    h2 {
        text-align: center;
    }
}

.runner-container {

    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;

    .runner-top {
        font-size: 30px;
        display: flex;
        justify-content: space-between;
    }

    .runner-bottom {
        display: flex;
        justify-content: space-between;
    }
}