<div class="runner-list">
    <h2>Runner List</h2>
    <ul *ngIf="currentRunners">
        <li *ngFor="let runner of currentRunners">
            <div class="runner-container">
                <div class="runner-top">
                    <span>{{ runner.name }}</span>
                    <span>{{ parseTime(runner.totalTime) }}</span>
                </div>
                <div class="runner-bottom">
                    <span>Segments: {{ runner.segments.length }}</span>
                    <button class="button is-small is-success" (click)="toggleForm(runner.id)">{{ showTimeForm ? "Hide Form" : "Add Segment" }}</button>
                    <button class="button is-small is-primary" (click)="toggleEdit(runner.id)">View/Edit Segments</button>
                    <button class="button is-small is-danger">Delete Segment</button>
                </div>
            </div>
        </li>
    </ul>
    <div *ngIf="showTimeForm">
        <fe-comp-runner-time-form [runner]="selectedRunner"></fe-comp-runner-time-form>
    </div>
    <div *ngIf="showEditForm">
        <fe-comp-runner-detail [runner]="selectedRunner"></fe-comp-runner-detail>
    </div>
</div>